PORT=3000
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_API_KEY=your-firebase-api-key
DB_HOST=your-db-host
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.your-project-ref
SUPABASE_URI="postgresql://postgres.your-project-ref:YOUR_PASSWORD@your-pooler-host:5432/postgres"
DB_PASSWORD=your-db-password